@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Errore";
}

<hgroup class="title">
    <h1 class="error">Errore.</h1>
    <h2 class="error">Errore durante l'elaborazione della richiesta.</h2>
</hgroup>
